@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

input,
button,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color) !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.d-none {
    display: none !important;
}

* {
    font-size: 12px;
}

.appUser {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Space Grotesk', sans-serif !important;
    line-height: 1.5 !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    text-rendering: optimizeSpeed !important;
    text-align: justify !important;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100vh;
}
